html{
  height: 500vh;
}
div{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(108,195,179,1) 0%, rgba(197,237,226,1) 67%, rgba(197,237,226,1) 100%);
  z-index: -1;
}
.back{
  max-height: 100vh;
  z-index: 0;
  position: fixed;
}
#logo{
  width: auto;
  height: 10%;
  right: 0px;
  bottom: 0px;
}
#piece{
}
#strand{
  width: auto;
  height: 100vh;
  right: 0vw;
  top: 0px;
}
#crane{
  width: 25vw;
  height: auto;
  left: 0px;
  bottom: 0px;
}
body{
  z-index: 1;
}
