html{
  height: 500vh;
}
div #all{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, rgba(108,195,179,1) 0%, rgba(197,237,226,1) 80%, rgba(197,237,226,1) 100%);
  z-index: -1;
}
h1{
  top: 0px;
  left: 40vw;
  width: fit-content;
}
body{
  position: fixed;
  top: 0px;
  left: 0px;
}
.buildings{
  width: 30vw;
  position: fixed;
  bottom: 0px;
}
#building1{
  left:0vw;
}
#building2{
  left:30vw;
}
#building3{
  left:60vw;
}
#building4{
  left:90vw;
}
.back{
  max-height: 100vh;
  z-index: 0;
  position: fixed;
}
#logo{
  width: auto;
  height: 7%;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
#strand{
  width: auto;
  height: 100vh;
  right: 0vw;
  top: 0px;
}
#crane{
  width: 25vw;
  height: auto;
  left: 0px;
  bottom: 0px;
}
body{
  z-index: 1;
}
#namesbox{
  height: 16vh;
  left: 85vw;
  width: fit-content;
  background: none;
  z-index: 1;
}
.names{
  font-size: 1.7vh;
  margin: 0.05vh 0px 0.05vh 0px;
  color: white;
}
p{
  font-size: 2.5vh;
  margin: 0.09vh 0px 0.09vh 0px;
}
p, h1, h2{
  width: fit-content;
  position: fixed;
}

#titulo1{
  left: 10vw;
}
#t1{

}
#t2{

}
#t3{

}
#t4{

}


#titulo2{
  left: 40vw;
  top: 10vh;
}
#t5{

}
#t6{

}
#t7{

}
#t8{

}
#t9{

}
#t10{

}
#t11{

}


#titulo3{
  left: 60vw;
}
#t12{

}
#t13{

}
#t14{

}
#t15{

}
#t16{

}


#titulo4{
  
}
#subtitulo1{

}
#t17{

}
#t18{

}

#subtitulo2{
  
}
#t19{

}

#subtitulo3{
  
}
#t20{

}

#subtitulo4{
  
}
#t21{

}
#t22{

}
